<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Page</title>
</head>
<body>
    <div class="djangotwo">
        {% if access_records %}
        <table>
            <thead>
                <th>Site Name</th>
                <th>Data</th>

            </thead>
            {% for acc in access_records %}
            <tr>
                <td>{{ acc.name }}</td>
                <td>{{ acc.date }}</td>
            </tr>
            {% endfor %}
    
        </table>
        {% else %}
        <p>No acccess records found!</p>
        {% endif %}
    </div>
</body>
</html>